# ------------------------
# Clojure Project Git Ignore file patterns
# 
# Ignore all except patterns starting with !
# Add comments on separate lines, not same line as pattern
# ------------------------

# ------------------------
# Ignore everthing in root directory
/*

# ------------------------
# Common project files
!CHANGELOG.md
!README.md
!LICENSE

# ------------------------
# Include Clojure project & config
!build.clj
!deps.edn
!pom.xml
!dev/
!docs/
!src/
!test/
!config.edn

# Don't ignore resources
!resources/
# ...but ignore shadow-cljs build artifacts
resources/public/js

# ------------------------
# Include Clojure tools
!.cljstyle
!.dir-locals.el
!compose.yaml
!Dockerfile
!.dockerignore
!Makefile
!tests.edn

# ------------------------
# Frontend things
!cljs
!shadow-cljs.edn
!package.json
!bun.lockb

# ------------------------
# Include Git & CI workflow
!.gitattributes
!.gitignore
!.github/

# ------------------------
# Include ClojureScript Figwheel
!figwheel-main.edn
!*.cljs.edn

# ------------------------
# Include deployment related files
!config
!.kamal
