{:database
 {:file #profile {:default #or [#env PARTS_DB_PATH "db/parts.db"]
                  :test #or [#env PARTS_DB_PATH "db/parts_test.db"]}}
 :auth
 {:secret #profile {:default #or [#env PARTS_JWT_SECRET "basic-secret-change-me"]
                    :test "test-secret"}}}
