{
 :source-paths
 ["cljs"]

 :dependencies
 [[cider/cider-nrepl "0.49.2"]
  [refactor-nrepl/refactor-nrepl "3.10.0"]]

 :nrepl
 {:middleware [cider.nrepl/cider-middleware
               refactor-nrepl.middleware/wrap-refactor]
  :port 50655}

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules {:main {:init-fn apossiblespace.parts.core/init}}
   :devtools {:http-root "resources/public"
              :http-port 8020}}}
 }
