{:db/type "postgresql"
 :db/host "localhost"
 :db/port 5432
 :db/name "parts_dev"
 :db/user "gosha"
 :db/password ""
 :db/ssl false

 :http/host "localhost"
 :http/port 3000
 :http/protocol "http"

 :auth/secret "secret"}
