{:db/host "localhost"
 :db/name "parts_prod"
 :db/user "parts"
 :db/ssl  false

 :http/protocol "https"
 :app/base-url "https://parts.ifs.tools"

 :repl/port 7888
 :repl/host "127.0.0.1"

 :launch/launched? false}
