@import "tailwindcss";
@plugin "daisyui";

.system-view {
    .node {
        display: flex;
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background-image: url("/images/nodes/unknown.svg");

        &.manager {
            height: 108px;
            width: 100px;
            background-image: url("/images/nodes/manager.svg");
        }
        &.exile {
            background-image: url("/images/nodes/exile.svg");
        }
        &.firefighter {
            height: 120px;
            width: 120px;
            background-image: url("/images/nodes/firefighter.svg");
        }
    }

    .logo {
        margin-top: 1em;
    }

    .toolbar {
        button {
            margin-left: 0.2rem;
        }
    }

    .parts-toolbar {
        border-radius: 5px;
        padding: 0.2rem 0.5rem;
        border: 1px solid #cccccc;
    }
}
