:root {
    --color-bg: #FFFFFF;
    --color-text: #444444;
    --color-text-subdued: #666666;
    --color-primary: #62A294;
    --color-secondary: #F2BE56;
    --color-tertiary: #D1B43C;
    --color-callout: #FFEECE;
    --color-input-border: #CCCCCC;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 4rem 4rem 1rem 4rem;
}

a {
    color: var(--color-primary);
    &:visited {
        color: var(--color-tertiary);
    }
}

footer {
    color: var(--color-text-subdued);
    font-size: 0.8em;
    line-height: 1.2em;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
}

.illustration {
    width: 50%;
    p {
        text-align: center;
    }
    img {
        width: 100%;
        max-width: 400px;
    }
}

.signup {
    margin: 2rem auto;
    width: 50%;
    max-width: 500px;

    form {
        display: flex;
        margin-bottom: 0px;
    }
    input {
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 1.5rem;
        box-sizing: border-box;
    }
    input[type="email"] {
        flex: 2;
        border: 2px solid var(--color-input-border);
    }
    input[type="submit"] {
        flex: 1;
        margin-left: 0.5rem;
        border: 2px solid var(--color-primary);
        background-color: var(--color-primary);
        color: white;
    }
    .error {
        p {
            &::before {
                content: '⤴︎';
                transform: scaleX(-1);
                position: absolute;
                left: -1.1rem;
                top: -0.3rem;
            }
            margin-top: 0.2rem;
            margin-left: 1.5rem;
            position: relative;
        }
    }
    .success {
        background-color: var(--color-callout);
        padding: 0.1rem 1rem;
        border-radius: 1rem;
        text-align: center;
    }
}

.hero {
    h1 {
        font-family: Georgia, Times, 'Times New Roman', serif;
        color: var(--color-primary);
        font-weight: normal;
        font-size: 2rem;
        line-height: 1.2em;
    }
}

@media (max-width: 900px) {
   .main {
       flex-direction: column;
   }

   .illustration, .signup {
       width: 100%;
   }

   .signup {
       margin-top: 0;
   }
}

@media (max-width: 600px) {
    body {
        padding: 1rem;
    }

    .signup form {
        flex-direction: column;
    }

    .signup input[type="email"],
    .signup input[type="submit"] {
        flex: 1;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    footer {
        flex-direction: column;
        gap: 0;
        padding-bottom: 4rem;
    }
}
